{%set className =  'list-group-item game-row'%}

<li class='list-group-item'>
    {%if game.is_timed()%}
        <span class="glyphicon glyphicon-time"></span>
    {%endif%}
    {% if user.username != game.host.username%}
        {% set oponent = game.host%}
    {% else%}
        {% set oponent = game.guest%}
    {% endif%}
    {% if oponent == None%}
    <span>{{game.timestamp_creation.strftime("%d/%m/%y")}}: {{'\t'}}{{user.username}} vs AI.{{game.AI}}</span>
    {% else%}
    <span>{{game.timestamp_creation.strftime("%d/%m/%y")}}: {{'\t'}}{{user.username}} vs <a href="{{url_for('user', username=oponent.username)}}">{{oponent.username}}</a></span>
    {% endif%}
    <span><a href="{{url_for('game_token', token=game_url(game.id,current_user.id))}}">Go to this game</a></span>
</li>