{%extends 'main.html'%}

{%block head%}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.1.0-rc.6/browser/pixi.js"></script>
{%endblock%}

{%block scripts%}
{{super()}}
<script src="{{url_for('static', filename='js/game.js')}}"></script>
<script>
var sound = new Howl({
      src: ["{{url_for('static', filename='audio/move.wav')}}"]
    });

    getSpriteAt = (location) => {
        let piece = null;
        sprites.forEach(function(e) {
            if (e.location[0] == location[0] && e.location[1] == location[1]) {
                piece = e;
                return;
            }
        });
        return piece;
    }



    rowColToXY = (row,col,size_x,size_y) => {
        return [(7-row)*size_y,col*size_x];
    };

    removeSprite = (sprite) => {
        sprites = sprites.filter(function(value,index,array) {
            return (value.location[0] != sprite.location[0] && value.location[1] != sprite.location[1]);
        });
    }


    renderApp = (app, game,textures) => {
        let start_x = 0;
        let start_y = 0;
        let size_x = Math.floor(app.renderer.gl.drawingBufferWidth/8);
        let size_y = Math.floor(app.renderer.gl.drawingBufferHeight/8);
        let sprites = new Array();
        let tiles = new Array();
        
        for(let row = 7; row >= 0; row--){
            for(let col = 0; col < 8; col++){
                tiles.push(new PIXI.Graphics())
                if(row % 2 == col % 2)  tiles.at(-1).beginFill(black_tile);
                else 
                    tiles.at(-1).beginFill(white_tile);
                tiles.at(-1).drawRect(start_x,start_y, size_x, size_y);
                tiles.at(-1).endFill();
                tiles.at(-1).interactive = true;
                tiles.at(-1).objName = 'tile'
                tiles.at(-1).location = [row,col];
                if(game.isEmpty(row,col)) {
                    start_x += size_x;
                    continue;
                }
                let colour = 'w'
                if(game.isBlack(row,col)) colour = 'b';
                let name = `${colour}${game.getPiece(row,col, 'string')}`
                sprites.push(PIXI.Sprite.from(textures[name]));
                sprites.at(-1).anchor.set(0.5);
                sprites.at(-1).x = start_x + size_x / 2;
                sprites.at(-1).y = start_y + size_y / 2;
                sprites.at(-1).interactive = true;
                sprites.at(-1).buttonMode = true;
                sprites.at(-1).objName = 'piece';
                sprites.at(-1).colour = colour;
                sprites.at(-1).location = [row,col];
                start_x += size_x;
            }
            start_y += size_y;
            start_x = 0;
        }
        tiles.forEach((tile)=> {
            container.addChild(tile);
        });
        sprites.forEach((sprite) => {
            container.addChild(sprite);
        });
        console.log(orientation)
        if (orientation > 0){
            sprites.forEach(function(e) {
                e.angle = 180;
            })
        }
        return [tiles, sprites];
    }
        let app_size = $('#root')[0].clientHeight;
        const app = new PIXI.Application({
            width: app_size,
            height: app_size,
            backgroundColor: 0xFFFFFF,
            resolution: window.devicePixelRation || 1,
            antialias: true,
            autoresize: true
        });
        $('#root').append(app.view);
        console.log(app.parent);
        const container = new PIXI.Container();
        let tiles = Array()
        let sprites = Array()
        let game_state = new Game();
        let black_tile = parseInt("{{theme.black_tile_colour}}");
        let white_tile = parseInt("{{theme.white_tile_colour}}");;
        let colour = null;

        let orientation = 0;
        
        let piece_set = "{{theme.piece_set}}"
        let textures = {'bbishop': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_bdt60.png`),
        'wbishop': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_blt60.png`),
        'bpawn': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_pdt60.png`),
        'wpawn': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_plt60.png`),
        'bknight': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_ndt60.png`),
        'wknight': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_nlt60.png`),
        'brook': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_rdt60.png`),
        'wrook': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_rlt60.png`),
        'bqueen': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_qdt60.png`),
        'wqueen': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_qlt60.png`),
        'bking': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_kdt60.png`),
        'wking': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_klt60.png`)}
        Object.entries(textures).forEach(([key,value]) => {
            value.baseTexture.scaleMode = PIXI.SCALE_MODES.NEAREST;
        })
        app.stage.addChild(container);

    $('#flip-board-button').click(function(e) {
        if(container.x == 0){
            orientation = 1;
            container.x = container.parent.width;
            container.y = container.parent.height;
            container.angle = 180;
            sprites.forEach(function(e) {
                e.angle = 180;
            })
        }
        else {
            orientation = 0;
            container.x = 0;
            container.y = 0;
            container.angle = 0;
            sprites.forEach(function(e) {
                e.angle = 0;
            })
        }
        let up = $('#up-user-banner').children().detach();
        let down = $('#down-user-banner').children().detach();
        $('#up-user-banner').append(down);
        $('#down-user-banner').append(up);
    })

    stateToHTMLList = (state, i) => {
        let colour = null;
        if (state['colour']) colour='white';
        else colour='black';
        return `<li class='list-group-item analyse-state ${colour}' id='analyse-state-${i}'>${state['move']} ${state['eval']['cp']}</li>`
    }

    populateHistory = ()=>{
        console.log(analyse_data)
        Object.entries(analyse_data).forEach(function(e) {
            let state = e[1];
            if(state['move'] == null) return;
            $('#game-history-list').append(stateToHTMLList(state, e[0]));
        })
    }

    splitStateClassName = (className) => {
        return className.split('-')[2];
    }

    switch_turn = (turn) => {
        if(turn){
            $('.black').removeClass('moves');
            $('.white').addClass('moves');
        }
        else {
            $('.white').removeClass('moves');
            $('.black').addClass('moves');
        }
    };
    $('#up-user-banner').children().addClass('black')
    $('#down-user-banner').children().addClass('white')
    let analyse_data = null;
    $.get("{{url_for('api_analyse', id=game.id)}}").done((data)=>{
        analyse_data = data;
        populateHistory();
        game_state.set(analyse_data['0']['tiles'])
        renderApp(app, game_state, textures);
        $('.progress-bar').css('width', `${analyse_data['0']['eval']['percentage']}%`);
        $('.analyse-state').click(function(e) {
            console.log(e);
            let id = splitStateClassName(e.target.id);
            game_state.set(analyse_data[id]['tiles'])
            renderApp(app, game_state, textures);
            $('.progress-bar').css('width', `${analyse_data[id]['eval']['percentage']}%`);
        });
        })
    

        
</script>
{%endblock%}

{%block sitecontent%}
<div id='up-user-banner'>
    {%if game.is_host_white%}
        {%set user=game.guest%}
    {%else%}
        {%set user=game.host%}
    {%endif%}
    {%if user != None%}
    {%include 'user/user_game.html'%}</tbody></table>
    {%endif%}
</div>
<div id='root' style='height:80vh;'>
</div>
<div id='down-user-banner'>
    {%if game.is_host_white%}
        {%set user=game.host%}
    {%else%}
        {%set user=game.guest%}
    {%endif%}
    {%if user != None%}
    {%include 'user/user_game.html'%}</tbody></table>
    {%endif%}
</div>
{%endblock%}

{%block rightside%}
    <div id='side-panel' class='panel' style='height:100vh;'>
     <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        </div>  
    </div>
    <div id='clock'></div>
    <div id='flip-board-button' style='width:100%;'><p class='btn ' style='width:100%;'>Flip the board</p></div>
    {%if current_user.is_in_game(game)%}
        <div id='surrender-button' style='width:100%;'><p class='btn btn-danger' style='width:100%;'>Surrender</p>
        </div>
    {%endif%}
    <ul class='list-group scrollable' style='max-height:80vh;' id='game-history-list'>
    </ul>
    </div>
{%endblock%}

