{%extends 'main.html'%}

{%block head%}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.1.0-rc.6/browser/pixi.js"></script>
{%endblock%}

{%block scripts%}
{{super()}}
<script src="{{url_for('static', filename='js/game.js')}}"></script>
<script>
var socket = io(`/game-${"{{game.id}}"}`);
var sound = new Howl({
      src: ["{{url_for('static', filename='audio/move.wav')}}"]
    });
var main_socket = io();
    main_socket.on('connect', function() {
        console.log('Socket connected');
        $.get("{{url_for('api_game_colour', id=game.id)}}").done(function(e) {
            colour=e;
        })
        
    });
    main_socket.emit('getgame', {id:"{{game.id}}"});
        {%if current_user.id == game.host_id or current_user.id == game.guest_id%}
            main_socket.emit('getcolour' ,{id:"{{game.id}}", player_id:"{{current_user.id}}"}, namespace=`/g${"{{game.id}}"}`)
        {%endif%}

    {%if current_user.id == game.host_id or current_user.id == game.guest_id%}
            socket.on('setcolour', (json) => {
                colour = json['colour'];
                console.log(json);
        });
    {%endif%}
    socket.on('setpossiblemoves', (json) => {
        if(json['to'] != "{{current_user.id}}") return;
        json['moves'].forEach((move)=>{
            let tile = tiles[(7-move[0])*8+move[1]]
            console.log(tile)
            tile.alpha = 0.5;
        });
    });
    socket.on('move', (json) =>{
        let to = json['to'];
        let from = json['from'];
        let tile = tiles[(7-to[0])*8+to[1]];
        let piece;
        console.log(json)
        for(let i = 0; i<sprites.length; i++){
            if(sprites[i].location[0] == from[0] && sprites[i].location[1] == from[1]){
                piece = sprites[i];
                console.log(location);
                console.log(sprites[i].location)
                break;
            }
        }
        console.log(piece)
        move(piece, tile)
        piece.alpha = 1;
        app.lastObj = tile;
    });
    socket.on('setgame', (json)=>{
        console.log(json)
        console.time('x')
        sound.play();
        switch_turn(json['turn']);
        json['tiles'].forEach((row,r)=>{
            row.forEach((col,c) => {
                game_state.at(r,c).piece = col['piece'];
                game_state.at(r,c).colour = col['colour'];
                game_state.at(r,c).moved = col['moved'];
            });
        });
        $('.progress-bar').css('width', `${json['eval']}%`);
        if (container.children.length > 0){
            console.log(container.children.length)
            container.removeChildren();
            delete tiles;
            delete sprites;
        }
        [tiles,sprites] = renderApp(app,game_state,textures)
        console.timeEnd('x')
        populateHistory()
    });


    getSpriteAt = (location) => {
        let piece = null;
        sprites.forEach(function(e) {
            if (e.location[0] == location[0] && e.location[1] == location[1]) {
                piece = e;
                return;
            }
        });
        return piece;
    }


    pieceOnDragBegin = (event) => {
        let target = event.target;
        if(target.objName == 'piece'){
            if(app.lastObj && app.lastObj.objName == 'piece'){
                app.lastObj.alpha = 1;
                tiles.forEach((tile)=>{
                    tile.alpha = 1;
                });
                console.log(colour)
                if(game_state.at(app.lastObj.location[0], app.lastObj.location[1]).colour == colour && game_state.at(target.location[0], target.location[1]).colour != colour){
                    main_socket.emit('confirmmove', {
                        game: game_state,
                        to: target.location,
                        from: app.lastObj.location,
                        gameid: "{{game.id}}"
                    })
                    return;
                }
            }
            app.lastObj = target;
            target.alpha = 0.7;
            main_socket.emit('getpossiblemoves', {
                game: game_state,
                from: target.location,
                gameid: "{{game.id}}"
            })
        }
        if(target.objName == 'tile' && app.lastObj.objName == 'piece'){
            main_socket.emit('confirmmove', {
                game: game_state,
                to: target.location,
                from: app.lastObj.location,
                gameid: "{{game.id}}"
            })
        }
    }

    rowColToXY = (row,col,size_x,size_y) => {
        return [(7-row)*size_y,col*size_x];
    };

    removeSprite = (sprite) => {
        sprites = sprites.filter(function(value,index,array) {
            return (value.location[0] != sprite.location[0] && value.location[1] != sprite.location[1]);
        });
    }

    move = (piece,tile) => {
        console.log(piece)
        let size_x = Math.floor(app.renderer.gl.drawingBufferWidth/8);
        let size_y = Math.floor(app.renderer.gl.drawingBufferHeight/8);
        let gs_tile_src = game_state.tiles[piece.location[0]][[piece.location[1]]];
        let gs_tile_dst = game_state.tiles[tile.location[0]][[tile.location[1]]];
        let taken_piece = getSpriteAt(tile.location);
        if(taken_piece != null){
            container.removeChild(taken_piece);
            removeSprite(taken_piece);
        }
        [y,x] = rowColToXY(tile.location[0], tile.location[1], size_x, size_y);
        piece.x = x + size_x/2;
        piece.y = y + size_y/2;
        gs_tile_dst.piece = gs_tile_src.piece;
        gs_tile_dst.colour = gs_tile_src.colour;
        gs_tile_dst.moved = true;
        gs_tile_src.piece = 0;
        gs_tile_src.colour = false;
        gs_tile_src.moved = false;
        piece.location = tile.location;
    }
    renderApp = (app, game,textures) => {
        let start_x = 0;
        let start_y = 0;
        let size_x = Math.floor(app.renderer.gl.drawingBufferWidth/8);
        let size_y = Math.floor(app.renderer.gl.drawingBufferHeight/8);
        let sprites = new Array();
        let tiles = new Array();
        
        for(let row = 7; row >= 0; row--){
            for(let col = 0; col < 8; col++){
                tiles.push(new PIXI.Graphics())
                if(row % 2 == col % 2)  tiles.at(-1).beginFill(black_tile);
                else 
                    tiles.at(-1).beginFill(white_tile);
                tiles.at(-1).drawRect(start_x,start_y, size_x, size_y);
                tiles.at(-1).endFill();
                tiles.at(-1).interactive = true;
                tiles.at(-1).objName = 'tile'
                tiles.at(-1).location = [row,col];
                tiles.at(-1).on('pointerdown', pieceOnDragBegin)
                if(game.isEmpty(row,col)) {
                    start_x += size_x;
                    continue;
                }
                let colour = 'w'
                if(game.isBlack(row,col)) colour = 'b';
                let name = `${colour}${game.getPiece(row,col, 'string')}`
                sprites.push(PIXI.Sprite.from(textures[name]));
                sprites.at(-1).anchor.set(0.5);
                sprites.at(-1).x = start_x + size_x / 2;
                sprites.at(-1).y = start_y + size_y / 2;
                sprites.at(-1).interactive = true;
                sprites.at(-1).buttonMode = true;
                sprites.at(-1).objName = 'piece';
                sprites.at(-1).colour = colour;
                sprites.at(-1).location = [row,col];
                sprites.at(-1) .on('pointerdown', pieceOnDragBegin)
                start_x += size_x;
            }
            start_y += size_y;
            start_x = 0;
        }
        tiles.forEach((tile)=> {
            container.addChild(tile);
        });
        sprites.forEach((sprite) => {
            container.addChild(sprite);
        });
        console.log(orientation)
        if (orientation > 0){
            sprites.forEach(function(e) {
                e.angle = 180;
            })
        }
        return [tiles, sprites];
    }
        let app_size = $('#root')[0].clientHeight;
        const app = new PIXI.Application({
            width: app_size,
            height: app_size,
            backgroundColor: 0xFFFFFF,
            resolution: window.devicePixelRation || 1,
            antialias: true,
            autoresize: true
        });
        $('#root').append(app.view);
        console.log(app.parent);
        const container = new PIXI.Container();
        let tiles = Array()
        let sprites = Array()
        let game_state = new Game();
        let black_tile = parseInt("{{theme.black_tile_colour}}");
        let white_tile = parseInt("{{theme.white_tile_colour}}");;
        let colour = null;

        let orientation = 0;
        
        let piece_set = "{{theme.piece_set}}"
        let textures = {'bbishop': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_bdt60.png`),
        'wbishop': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_blt60.png`),
        'bpawn': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_pdt60.png`),
        'wpawn': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_plt60.png`),
        'bknight': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_ndt60.png`),
        'wknight': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_nlt60.png`),
        'brook': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_rdt60.png`),
        'wrook': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_rlt60.png`),
        'bqueen': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_qdt60.png`),
        'wqueen': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_qlt60.png`),
        'bking': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_kdt60.png`),
        'wking': PIXI.Texture.from(`/static/img/gfx/${piece_set}/Chess_klt60.png`)}
        Object.entries(textures).forEach(([key,value]) => {
            value.baseTexture.scaleMode = PIXI.SCALE_MODES.NEAREST;
        })
        app.stage.addChild(container);

    $('#flip-board-button').click(function(e) {
        if(container.x == 0){
            orientation = 1;
            container.x = container.parent.width;
            container.y = container.parent.height;
            container.angle = 180;
            sprites.forEach(function(e) {
                e.angle = 180;
            })
        }
        else {
            orientation = 0;
            container.x = 0;
            container.y = 0;
            container.angle = 0;
            sprites.forEach(function(e) {
                e.angle = 0;
            })
        }
        let up = $('#up-user-banner').children().detach();
        let down = $('#down-user-banner').children().detach();
        $('#up-user-banner').append(down);
        $('#down-user-banner').append(up);
    })

    populateHistory = ()=>{
        $('#game-history-list').children().each(function(index,value, array) {
            $(value).remove();
            console.log(value)
            })
        $.get("{{url_for('api_game_history', id=game.id)}}").done((data)=>{
        Object.entries(data).forEach(function(e) {
            $('#game-history-list').append(`<li class='list-group-item'>${e[0]} ${e[1]}</li>`)
        })
    })
    }
    switch_turn = (turn) => {
        if(turn){
            $('.black').removeClass('moves');
            $('.white').addClass('moves');
        }
        else {
            $('.white').removeClass('moves');
            $('.black').addClass('moves');
        }
    };
    populateHistory()
    $('#up-user-banner').children().addClass('black')
    $('#down-user-banner').children().addClass('white')


    this.setTimeout(()=>{
        $.get("{{url_for('api_game_time', id=game.id)}}").done((data)=>{console.log(data);})
    },1000)

        
</script>
{%endblock%}

{%block sitecontent%}
<div id='up-user-banner'>
    {%if game.is_host_white%}
        {%set user=game.guest%}
    {%else%}
        {%set user=game.host%}
    {%endif%}
    {%if user != None%}
    {%include 'user/user_game.html'%}</tbody></table>
    {%endif%}
</div>
<div id='root' style='height:80vh;'>
</div>
<div id='down-user-banner'>
    {%if game.is_host_white%}
        {%set user=game.host%}
    {%else%}
        {%set user=game.guest%}
    {%endif%}
    {%if user != None%}
    {%include 'user/user_game.html'%}</tbody></table>
    {%endif%}
</div>
{%endblock%}

{%block rightside%}
    <div id='side-panel' class='panel' style='height:100vh;'>
    {%if game.show_eval_bar%}
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            </div>  
        </div>
    {%endif%}
    {%if game.is_timed()%}
        <div class="time" id='time-white'>
            {{game.get_time_left_str(True)}}
        </div>
        <div class="time black" id='time-black'>
            {{game.get_time_left_str(False)}}
        </div>
    {%endif%}
    <div id='clock'></div>
    <div id='flip-board-button' style='width:100%;'><p class='btn ' style='width:100%;'>Flip the board</p></div>
    {%if current_user.is_in_game(game)%}
        <div id='surrender-button' style='width:100%;'><p class='btn btn-danger' style='width:100%;'>Surrender</p>
        </div>
    {%endif%}
    <ul class='list-group scrollable' style='max-height:80vh;' id='game-history-list'>
    </ul>
    </div>
{%endblock%}

