{% extends 'main.html' %}

{%block scripts%}
{{super()}}

<script>
    $('.playDropDown>span').click(function(e) {
        let parent = $(this).parent();
        console.log(parent)
        if (parent.children().length > 2 ){
            return;
        }
        
        let uri = "{{url_for('api_play_game_setup')}}"
        let payload = {};
        if ($(this).parent().attr('id') == 'ai-item-1'){
            payload['options'] = ['bar'];
            payload['ai'] = true;
        }
        else if ($(this).parent().attr('id') == 'friend-item-1'){
            payload['options'] = ['ranked'];
            payload['friends'] = true;
            payload['time'] = true;
        }
        else{
            payload['options'] = ['ranked', 'max_rank', 'min_rank'];
            payload['time'] = true;
        }

        $.get(uri, payload).done((data)=>{
            console.log(data);
            e.stopPropagation();
            parent.removeClass('btn');
            parent.removeClass('btn-info');
            parent.append('<div></div>')
            parent.append("<li class='list-group-item list-group-item-success btn'>Play</li>")
            parent.append("<li class='list-group-item list-group-item-danger btn'>Cancel</li>")
            let namespace = '';
            if (parent.children('span').html().includes('friend')) namespace = 'friend';
            else if (parent.children('span').html().includes('random')) namespace = 'random';
            else if (parent.children('span').html().includes('AI')) namespace = 'ai';
            Object.entries(data).forEach((item, index, array) =>{
                console.log(item);
                let width = 100 / array.length - 1;
                $(`#${namespace}-item-1>div`).append(`<div style='width:${width}%; display:inline-block;'><ul class='list-group scrollable'  style='height:inherit;' id='${namespace}-item-${index+2}' > 
                    <li class='list-group-item ' style='background-color:#c3c6c9;'>${item[0]}</li>
                    </ul></div>`)
                let list = $(`#${namespace}-item-${index+2}`);
                item[1].forEach((item,index,array) => {
                    console.log(item);
                    list.append(`<li id='${item['id']}' class='list-group-item'>${item['name']}</li>`)
                    if (item['type'] == 'btn'){
                        $(`#${item['id']}`).addClass('btn');
                        $(`#${item['id']}`).click(function(e) {
                            list.children('.active').removeClass('active');
                            $(this).addClass('active');
                        });
                    }
                    else {
                        $(`#${item['id']}`).append(`<span style='margin-left:10px;'></span>`);
                        $(`#${item['id']}`).append(`<input type='${item['type']}' id='${item['id']}-input' max='2500' min='0'>`);
                        if (item['type'] == 'range'){
                            $(`#${item['id']}>input`).on('change', function(e) {
                                if ('upper_limit' in item) {
                                    if (parseInt($(`#${item['upper_limit']}>input`).val()) < parseInt($(this).val())){
                                        $(this).val($(`#${item['upper_limit']}>input`).val())
                                    }
                                }
                                if ('lower_limit' in item) {
                                    if (parseInt($(`#${item['lower_limit']}>input`).val()) > parseInt($(this).val())){
                                        $(this).val($(`#${item['lower_limit']}>input`).val());
                                    }   
                                }
                                $(`#${item['id']}>span`).html($(this).val())
                            });
                            $(`#${item['id']}>input`).mousemove(function(e) {
                                if ('upper_limit' in item) {
                                    if (parseInt($(`#${item['upper_limit']}>input`).val()) < parseInt($(this).val())){
                                        $(this).val($(`#${item['upper_limit']}>input`).val());
                                    }   
                                }
                                if ('lower_limit' in item) {
                                    if (parseInt($(`#${item['lower_limit']}>input`).val()) > parseInt($(this).val())){
                                        $(this).val($(`#${item['lower_limit']}>input`).val());
                                    }   
                                }
                                $(`#${item['id']}>span`).html($(this).val())
                            });
                        }
                    }
                });
            });
            $('.list-group-item-danger').click(function(e) {
                parent.addClass('btn btn-info');
                parent.children('div').remove();
                parent.children('.btn').remove();
            });
            $('.list-group-item-success').click(function(e) {
                let options = new Object();
                parent.children('div').children('div').each(function(index, value){
                    if($(this).children().children('.active').length > 0){
                        options[$(this).children().children().html()] = $(this).children().children('.active').attr('id')
                    }
                    else {
                        $(this).children().children().each(function(index, value) {
                            if(index==0 || $(value).children('input').lenght > 0) return;
                            if($(value).children('input').attr('type') == 'checkbox') options[$(value).attr('id')] = $(value).children('input').is(':checked')
                            else options[$(value).attr('id')] = $(value).children('input').val();
                        });
                    }
                });
                console.log(options)
                if (Object.values(options).includes(undefined)) return;
                $.post("{{url_for('create_game')}}", options).done((data)=>{
                    console.log(data);
                });

            });
        });
    });

    

</script>

{%endblock%}

{%block sitecontent%}
    <h3>Play</h3>
    <ul class='list-group'>
    <li id='ai-item-1' class='list-group-item list-group-item-info btn btn-info playDropDown'><span style='width:90%; display:inline;'>Against AI </span><span class='caret'></span></li>
    <li id='random-item-1' class='list-group-item list-group-item-info btn btn-info playDropDown'><span style='width:90%;'>Against random player </span><span class='caret'></span></li>
    <li id='friend-item-1' class='list-group-item list-group-item-info btn btn-info playDropDown'><span style='width:90%;'>Against friend </span><span class='caret'></span></li>
    </ul>
{%endblock%}