{% extends 'main.html' %}

{%block scripts%}
    {{super()}}
    <script>
    {%if user.username == current_user.username%}
    
        submit_img = (e) => {
            console.log('Submit img')
            console.log(e.files[0])
            let f = e.files[0];
            let formData = new FormData();
            formData.append('user_id', {{current_user.id}})
            formData.append('image', f)
            $.ajax({
                type:"POST",
                url:"/submit_image",
                async:true,
                processData: false,
                contentType: false,
                data:formData,
                timeout: 6000
            }).done(()=>{location.reload()})
        }
        $('#user_avatar').on('click', () => {
            $('#img-file-input').trigger('click');
            console.log('Img field clicked')
        });

        $('#user_avatar').addClass('editable')
    
    {%endif%}
        {%if not current_user.is_anonymous and current_user.username != user.username%}
            submit_friend_request = () => {
                $.post('/me/add_friend', {sender: "{{current_user.id}}", receiver: "{{user.id}}"}).done(()=>{location.reload()})
            }
            submit_unfriend_request = () => {
                $.post('/me/remove_friend', {sender: "{{current_user.id}}", receiver: "{{user.id}}"}).done(()=>{location.reload()})
            }
        {%endif%}
    </script>
{%endblock%}

{%block sitecontent%}

    {%include 'user/user_panel.html'%}

    <div style='display: inline'>
        <table class='table' id='friends-table'>
            <thead><tr>
                <th></th>
                <th>Username</th>
                <th>Ranking</th>
                <th>Posts</th>
            </tr></thead>
            <tbody>
            {%for user in user.friends%}
            {%include 'user/user_table_row.html'%}
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div id='games-container'>
        {%for game in games%}
            {%if user.username != game.host.username%}
                {% set oponent = game.host%}
            {%else%}
                {% set oponent = game.guest%}
            {%endif%}
            <div class='game-container'>
                <span>{{game.timestamp.strftime("%d/%m/%y %H:%M")}}: {{'\t'}}{{user.username}} vs <a href="{{url_for('user', username=oponent.username)}}">{{oponent.username}}</a></span>
            </div>
        {%endfor%}
    </div>

    <div id='posts-container'>
    <thead></thead>
    <table class='table' id='friends-table'>
    <tbody>
        {%for post in user.posts%}
            {%include 'blog/blog_table_row.html'%}
        {%endfor%}
    </tbody>
     </table>
    </div>
{%endblock%}