    <div class="panel panel-primary" style="width: 18rem;">
    {%if not user.has_avatar%}
        <img id='user_avatar' src="{{url_for('static', filename='img/avatar/empty.png')}}">
    {%else%}
        {%set imgfile = "/img/avatar/{}.png".format(user.id)%}
        <img id='user_avatar' src="{{url_for('static', filename=imgfile)}}">
    {%endif%}
    {%if user.username == current_user.username%}
        <input id='img-file-input' type='file' onchange='submit_img(this)' style='display:none;'/>
    {%endif%}
    {%set imgfile = "/img/flags/flags/1x1/{}.svg".format(user.country.lower())%}
    <div class="panel-heading"><h5 class="panel-title"><img src="{{url_for('static', filename=imgfile)}}" width='16' height='16' style='border:1px solid black;' title={{user.countryname()}}>{{user.username}}
    {%if user.name%}
    <br>
    ({{user.name}})
    {%endif%}
    </h5></div>
    <div class="panel-body">
        <p class="card-text">Joined:{{user.get_human_creation_delta()}}</p>
        <p class="card-text">Ranking:{{user.get_current_rating()}}</p>
        <p class="card-text">Posts:{{user.get_posts_count()}}</p>
    </div>
    <div class='panel-title'>
        {%if user.username != current_user.username%}
        <p href="#" onclick='invite_to_play()' class="btn btn-primary" style='width:100%'>Invite to play</a>
        {%endif%}
            {%if not current_user.is_anonymous and current_user.username != user.username and not user.is_friends_with(current_user)%}
        <p type='button' onclick='submit_friend_request()' class='btn btn-primary' style='width:100%'>Add friend</a>
    {%endif%}
    {%if not current_user.is_anonymous and current_user.username != user.username and user.is_friends_with(current_user)%}
        <p type='button' onclick='submit_unfriend_request()' class='btn btn-danger' style='width:100%'>Remove friend</a>
    {%endif%}
    <div id="{{user.username}}-panel-home" class="btn user-panel-btn {%if subpage == 'home'%}active{%endif%}"><span class="glyphicon glyphicon-home"></span>Home</div>
    {%if not current_user.is_anonymous and current_user.username == user.username%}
    <div id="{{user.username}}-panel-settings" class="btn user-panel-btn {%if subpage == 'settings'%}active{%endif%}"><span class="glyphicon glyphicon-cog"></span>Settings</div>
    {%endif%}
    <div id="{{user.username}}-panel-games" class='btn user-panel-btn'><span class="glyphicon glyphicon-tower"></span>Games</div>
    <div id="{{user.username}}-panel-friends" class='btn user-panel-btn'><span class="glyphicon glyphicon-user"></span>Friends</div>
    <div id="{{user.username}}-panel-posts" class='btn user-panel-btn'><span class="glyphicon glyphicon-book"></span>Blog</div>
    <div id="{{user.username}}-panel-activity" class='btn user-panel-btn'><span class="glyphicon glyphicon-eye-open"></span>Activity</div>
    </div>
    </div>